body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEEDB8;
}

.container {
  text-align: center;
  position: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.semi-circle {
  width: 400px;
  height: 100px;
  background-color: #c9aa88; 
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  border-top: 0;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 242px);
}

.mountain {
  transform: translate(27px, 72px);
  position: relative;
  z-index: 0;
}

.mountain-left {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent; 
  border-bottom: 170px solid #D6BBB6;
  display: inline-block;
}

.mountain-right {
  width: 0;
  height: 0; 
  border-right: 150px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 130px solid #B3DBCE;
  display: inline-block;
  transform: translate(-130px, 0);
}

.bridge {
  transform: translate(0, -248px);
  position: relative;
  z-index: 2;
}

.train {
  display: inline-block;
  transform: translate(0, -248px);
  position: relative;
  z-index: 1;
  
  /* run train */
  animation: myfirst 13s linear infinite;
}

@keyframes myfirst {
    0%   {left: -60%;}
    100% {left: 70%;}
} 

.wall {
  width: 400px;
  height: 25px;
  background-color: #89A79D;
  display: inline-block;
  transform: translate(0, 167px);
}

.rail {
  display: grid;
  grid-template-columns: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
  grid-template-rows: 5px;
  grid-gap: 20px;
  transform: translate(27px, 126px);
}

.rail-top {
  width: 400px;
  height: 4px;
  background-color: #89A79D;
  transform: translate(0, -4px);
}

.train-front {
  width: 90px;
  height: 25px;
  background-color: #fffdf0;
  display: inline-block;
  border-radius: 8px 25px 0px 0px; 
  transform: translate(-38px, 76px);
}

.train-back {
  width: 110px;
  height: 25px;
  background-color: #fffdf0;
  border-radius: 8px 8px 0px 0px;
  transform: translate(-145px, 51px);
}

.train-back .window {
  display: grid;
  grid-template-columns: 10px 10px 10px 10px 10px;
  grid-template-rows: 10px;
  grid-gap: 7px;
  justify-content: center;
  transform: translate(0, 6px);
}

.train-front .window {
  display: grid;
  grid-template-columns: 10px 10px 10px;
  grid-template-rows: 10px;
  grid-gap: 8px;
  justify-content: center;
  transform: translate(-5px, 6px);
}

.box {
  background-color: #413F38;
}

.block {
  background-color: #89A79D;
}

.arch {
    width: 50px;
    height: 24px;
    border-radius: 40%;
    margin: 5px 10px 10px;
    display: inline-block;
    background-color: #c9aa88;
    transform: translate(-50px, 1px);
}

.arch::after {
  content: '';
  width: 50px;
  height: 12px;
  margin: 5px 10px 10px;
  display: inline-block;
  background-color: #c9aa88;
  transform: translate(-10px, 3px);
}

.tunnel {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 120px solid #F1DA83; 
  display: inline-block;
  transform: translate(150px, -51px);
  position: relative;
  z-index: 3;
}

/* block to hide metro when it moves outside land area */

.hide-train-right {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 4;
  vertical-align: top;
  background-color: #FEEDB8;
  transform: translate(319px, -180px);
}

.hide-train-left {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 4;
  vertical-align: top;
  background-color: #FEEDB8;
  transform: translate(-205px, -180px);
}




